# For PCBs designed using KiCad: http://www.kicad-pcb.org/

# Temporary files
pcb/*.000
pcb/*.bak
pcb/*.bck
pcb/*.kicad_pcb-bak
pcb/*~
pcb/_autosave-*
pcb/*.tmp

# Netlist files (exported from Eeschema)
pcb/*.net

# Autorouter files (exported from Pcbnew)
pcb/.dsn

# Exported BOM files
pcb/*.xml
pcb/*.csv
